/** ### generic measurements */

@body-horizontal-padding : 20px;

/** ### generic palette */

@primary-gray :     #212121;
@primary-orange :   #ff6432;
@primary-white :    #fff;

@secondary-gray :   #acacac;

@tertiary-gray :    #e6e6e6;
/** ### header palette */