@import 'palette';

/** ### classes */

/** @snippet class :: adds a trailing caret */
.suffix {
    &:after {
        content: "_";
        color: @primary-orange;
    }
}

/** @snippet class :: adds a double-slash leader */
.prefix {
    &:before {
        content: "//";
    }
}

/** @snippet class :: clearfix! */
.cf {
    // largely required only for IE 6/7.
    // can remove if usage of those browsers not (anymore) expected.
    zoom: 1;

    &:after {
        clear: both;
    }

    &:before,
    &:after {
        content: "";
        display: table;
    }
}

/** ### mixins */

/** @snippet mixin :: adds the prescribed horizontal body padding
                      to whatever element this is called against 
                      */
.bodypadding () {
    padding: 0 @body-horizontal-padding;
}
.bodypadding (@_: true) when (@_) {    
    box-sizing: border-box;
}

/** ### convenience mixins */
.transition (@_...) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}
