@import 'normalize';
@import 'snippets';
@import 'typography';

/** ### base styling */

html, 
body {    
    height: 100%;

    // should prevent the vertical scrollbar from showing up
    // when the content of the page is not enough to fill the viewport
    // ::   i.e. the border-top declaration on body pushes the page down
    //      by that amount of pixels.
    box-sizing: border-box;
}

nav {
    ul {
        // lists in nav elements will should most probably
        // not have bullet points / header lines eh?
        list-style-type: none; 
        margin: 0;
        padding: 0;
    }
}

/** ### sectional styling */
body {
    border-top: 5px solid @primary-gray;    

    /** ### header area */
    & > header {

        // site name / logo
        h1,
        h2 {
            margin-top: 5px;
            .bodypadding;
            .prefix;
            .suffix;

            // this should give ample spacing between the 
            // double-slash prefix and the actual title
            &:before {
                padding-right:.8em;
            }
        }

        // primary navigation
        & > nav {

            ul {                
                margin: 5px 0 12px;
                text-align: right;
                .bodypadding;

                li {
                    display: inline-block;

                    a {
                        padding: 0 .3em;
                        display: inline-block;
                    }
                }
            }
        }

        // NOTE: we want the loupe to automatically resize
        //       vertically based on its content,
        //       instead of explicitly setting height here
        #loupe {                        
            background: @primary-gray;      
            position: relative;
            overflow-x: hidden;
            white-space: nowrap;            
            
            .slide {
                width: 100%;
                display: inline-block;
                vertical-align: text-top;                
                white-space:normal;                
                .bodypadding;  

                // we manipulate the loupe by
                // adjusting the first slide's positioning
                &:first-child {
                    
                }           

                h4 {                
                    padding-top: 24px;
                    .suffix;
                }
            }
        }
    }
}