@import 'normalize';
@import 'typography';
@import 'palette';

/** ### base styling */

html, 
body {    
    height: 100%;
}

body {
    border-top : 5px solid @primary-gray;
    padding : 0 20px;

    /** ### header area */
    & > header {        
    }
}