@import 'snippets';

/** ### fontface declarations */
@source-sans-pro :  'Source Sans Pro', Arial, sans-serif;
@source-code-pro :  'Source Code Pro', Consolas, 'Courier New', monospace;
@roboto-slab :      'Roboto Slab', sans-serif;
@oswald :           'Oswald', Calibri, Arial, sans-serif;

@base-font-size : 16pt;

.font-config (@_...) {
    font: @arguments;
}

.font-source-sans (@size:1em, @weight:300) {
    .font-config(@weight, @size, @source-sans-pro);
}

.font-source-code (@size:1em, @weight:300) {
    .font-config(@weight, @size, @source-code-pro);
}

.font-roboto-slab (@size:1em, @weight:300) {
    .font-config(@weight, @size, @roboto-slab);
}

.font-oswald (@size:1em, @weight:700) {
    .font-config(@weight, @size, @oswald);
}

body {
    .font-source-sans(@base-font-size);
}

.small {
    font-size: .8em;
}

.alert {
    color: darken(@primary-yellow,20%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

// this theme's general link visual has no underline
// :: just override this with another rule if ever
a:link {    
    color: @primary-orange;
    text-decoration: none;

    &:hover {
        //text-decoration: underline;
        border-bottom:1px solid @primary-orange;
    }
}

// leaders are the tags on sidebar sections and articles
.leader {
    text-transform: uppercase;
    color: @primary-white;
    .font-oswald(.7em);
}

// alert boxes
// ::   since em units *may* be unreliable for alert boxes
//      (since they can be placed in a lot of different places)
//      let's just define a static amount for it
.alert {
    // .7em equivalent
    font-size: @base-font-size * 0.7;

}

// of course, monospaceds have to follow our convention
pre,
code {
    .font-source-code;
}

h1,
h2 {
    .font-oswald;

    a:link {
        color: @primary-gray;

        .transition(color .2s linear);

        &:hover {
            color: @primary-orange;
        }
    }
}

body {

    & > header {

        h1,
        h2 {
            font-size: 1em;
            letter-spacing: -1px;
            text-transform: uppercase;
            text-align: right;
            color: @primary-orange;

            &:before {                                    
                color: @secondary-gray;
            }

            @header-color: @primary-gray;
            @header-gradient-step: 12%;

            span {
                color: @header-color;

                &:nth-child(2) {
                    color: lighten(@header-color, @header-gradient-step);
                }

                &:nth-child(3) {
                    color: lighten(lighten(@header-color, @header-gradient-step), @header-gradient-step);
                }
            }
        }
    }
}

/** ### navigation */
nav {
    // the primary site nav bar
    header > & {
        text-transform: uppercase;

        ul {            

            li {
                font-size: .7em;

                a {                    
                    color: @primary-orange;
                }
            }
        }
    }
}

/** ### widgets */
#loupe {    

    h4 {        
        color: @primary-white;
        .font-roboto-slab(.8em);

        @media screen and (min-width: 480px) {
            font-size: 1.2em;
        }
    }

    p {
        color: @primary-orange;
        font-size: .72em;

        @media screen and (min-width: 480px) {
            font-size: .72em;
        }
    }
}

#content {
    
    // typography styles in actual blog entries
    article {            

        header {

            // the entry title head can either be h1 or h2,
            // depending on what page we're viewing
            h1,
            h2 {                        
                font-size: 1.4em;
                line-height: 1.3;

                @media screen and (min-width: 480px) {
                    font-size:1.8em;
                    line-height: 1.2;
                }
            }

            // generally is the date when the entry was published
            & > time {
                color: @secondary-gray;
                .font-roboto-slab(.72em);
            }
        }

        h3 {
            .font-oswald(1.2em);
            color: lighten(@primary-gray, 10%);
        }

        h4 {
            .font-oswald(1em, 300);            
            color: lighten(@primary-gray, 10%);
            color: #000;
        }

        h5 {
            .font-oswald(.8em, 300);
            color: lighten(@primary-gray, 40%);
        }

        h6 {
            .font-oswald(.72em, 300);
            color: lighten(@primary-gray, 40%);
        }

        // inline code snippets have a subtle background applied to them
        // so that they are easily spotted within the main text
        code {
            display: inline-block;            
            background: @tertiary-gray;
            padding: 0 .2em;
        }

        pre {
            font-size: .6em;

            & > code {
                // neutralize the styles set above
                padding: 0;
                display: inline;
            }
        }

        // images with captions,
        // as per wordpress default markup
        div.wp-caption {

            // the caption itself
            p.wp-caption-text {
                .font-roboto-slab(.5em);
                color: @secondary-gray;
            }

        }

        ol, 
        ul {
            font-size: .8em;
            color: lighten(@primary-gray, 40%);

            // stop the font size from getting smaller
            // from the 3rd level onward
            & ul ul,
            & ol ol {
                font-size: 1em;
            }
        }
        
        blockquote {            
            color: lighten(@primary-gray, 50%);            
            .font-roboto-slab(.8em);            

            p {  
                // the span should be used for attribution  
                span {
                    font-size: .72em;
                    color: @primary-gray;                    
                }
            }
        }

        aside {            
            font-size:.8em;            
        }
    }
}

#sidebar {

    .widget {    
    }

    // about the author widget
    & .textwidget:first-child {

        p {
            margin: .4em 0;
            color: @secondary-gray;
            .font-roboto-slab(.6em);
        }
    }
   
}
